.App {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.folderNavigation {
  text-align: left;
  font-size: 25px;
  color: gray;
  padding: 1% 1%;
}

@media screen and (max-width: 600px) {
  .folderNavigation {
    font-size: 15px;
  }
}
